@model ShadowTracker.Models.Ticket

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <h1>Create New Ticket</h1>
    <hr />
    <div class="row">
        <div class="col">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row gy-2">
                    <div class="col-12 col-md-5">
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row gy-2">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row gy-2">
                    <div class="col col-md-5">
                        <div class="form-group">
                            <label asp-for="ProjectId" class="control-label"></label>
                            <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="form-group">
                            <label asp-for="TicketTypeId" class="control-label"></label>
                            <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-md-2">
                        <div class="form-group">
                            <label asp-for="TicketPriorityId" class="control-label"></label>
                            <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row gy-2">
                    <div class="col">
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
