@model ShadowTracker.Models.Ticket
@using ShadowTracker.Models.Enums

@{
    ViewData["Title"] = "Edit";
}




<div class="container-fluid">
    <h1>Edit Ticket</h1>
    <hr />
    <div class="row">
        <div class="col">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="ProjectId" />
                <input type="hidden" asp-for="Created" />
                <input type="hidden" asp-for="OwnerUserId" />
                <input type="hidden" asp-for="DeveloperUserId" />
                <input type="hidden" asp-for="Archived" />
                <input type="hidden" asp-for="ArchivedByProject" />

                <div class="row gy-2">
                    <div class="col-12 col-md-5">
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row gy-2">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row gy-2">
                    <div class="col col-md-3">
                        <div class="form-group">
                            <label asp-for="TicketTypeId" class="control-label"></label>
                            <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId">
                                <option></option>
                            </select>
                            <span asp-validation-for="TicketTypeId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="form-group">
                            <label asp-for="TicketPriorityId" class="control-label"></label>
                            <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId">
                                <option></option>
                            </select>
                            <span asp-validation-for="TicketPriorityId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="form-group">
                            <label asp-for="TicketStatusId" class="control-label"></label>
                            <select asp-for="TicketStatusId" class="form-control" asp-items="ViewBag.TicketStatusId">
                                <option></option>
                            </select>
                            <span asp-validation-for="TicketStatusId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col col-md-3 text-center">
                        <div class="form-group">
                            <label class="control-label">Ticket Developer</label>
                            <p class=""><strong>@Model.DeveloperUser?.FullName</strong></p>
                            @if (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager)))
                            {
                                <a class="btn btn-outline-jhprimary" asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-ticketId="@Model.Id">Assign</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="row gy-2">
                    <div style="padding-left: 1rem">
                        <div class="form-group">
                            <a class="btn btn-outline-jhprimary" asp-action="AllTickets">Return to All Tickets</a>
                            <input asp-action="Details" asp-route-id="@Model.Id" type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
