@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmed email";
}

<div class="container">
    <h1>Email Confirmed!</h1>
    <a class="btn btn-outline-primary" asp-page="./Login">Back to Login</a>
</div>