@model ShadowTracker.Models.ViewModels.AssignPMViewModel

@{ 
    ViewData["Title"] = "Assign PM";
}


<div class="container-fluid">
    <h1>Project : @Model.Project?.Name</h1>
    <h4>Assign Project Manager</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-action="AssignPM" asp-controller="Projects">
                <input hidden asp-for="Project.Id" />
                <h2>@Model.Project?.Name </h2>
                <p>@Model.Project?.Description </p>
                <div class="form-group">
                    <label class="control-label">Select Project Manager</label>
                    <select asp-for="PMId" class="form-control" asp-items="@Model.PMList">
                    </select>
                    <br />
                    <a class="btn btn-outline-jhprimary" asp-action="UnassignedProjects">Return to Unassigned Projects</a>
                    <input type="submit" value="Assign" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>