@model ShadowTracker.Models.ViewModels.AddProjectWithPMViewModel
@using ShadowTracker.Models.Enums
@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid">
    <h1>Editing: @Model.Project.Name</h1>
    <hr />
    <div class="row">
        <div class="col">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Project.Id" />
                <input type="hidden" asp-for="Project.Created" />
                <input type="hidden" asp-for="Project.CompanyId" />
                <input type="hidden" asp-for="Project.ImageFormFile" />
                <input type="hidden" asp-for="Project.FileName" />
                <input type="hidden" asp-for="Project.FileContentType" />
                <div class="row gy-2">
                    <div class="col-12 col-md-5">
                        <div class="form-group">
                            <label asp-for="Project.Name" class="control-label"></label>
                            <input asp-for="Project.Name" class="form-control" />
                            <span asp-validation-for="Project.Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row gy-2">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Project.Description" class="control-label"></label>
                            <textarea asp-for="Project.Description" rows="4" class="form-control" required placeholder="Add comment ..."></textarea>
                            <span asp-validation-for="Project.Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row gy-2">
                    <div class="col col-md-3">
                        <div class="form-group">
                            <label asp-for="Project.StartDate" class="control-label"></label>
                            <input asp-for="Project.StartDate" class="form-control" />
                            <span asp-validation-for="Project.StartDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="form-group">
                            <label asp-for="Project.EndDate" class="control-label"></label>
                            <input asp-for="Project.EndDate" class="form-control" />
                            <span asp-validation-for="Project.EndDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col col-md-2">
                        <div class="form-group">
                            <label asp-for="Project.ProjectPriorityId" class="control-label"></label>
                            <select asp-for="Project.ProjectPriorityId" class="form-control" asp-items="@Model.Priority">
                                <option></option>
                            </select>
                            <span asp-validation-for="Project.ProjectPriorityId" class="text-danger"></span>
                        </div>
                    </div>
                    @if (User.IsInRole(nameof(BTRoles.Admin)))
                    {
                        <div class="col col-md-3">
                            <div class="form-group">
                                <label class="control-label">Select Project Manager</label>
                                <select asp-for="PmId" class="form-control" asp-items="@Model.PMList">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    }
                </div>
                <div class="row gy-2">
                    <div class="col col-md-4">
                        <div class="form-group">
                            <label class="control-label">Project Image</label>
                            <input asp-for="Project.ImageFormFile" class="form-control" type="file" accept=".png,.jpg,.jpeg,.gif"
                                   onchange="document.getElementById('imageFileData').src = window.URL.createObjectURL(this.files[0])" />
                            <span asp-validation-for="Project.ImageFormFile" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <label>Image Preview</label>
                        @if (Model.Project?.FileData != null)
                        {
                            <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px" src="data:image/*;base64,
                     @(Convert.ToBase64String(Model.Project.FileData))" />
                        }
                        else
                        {
                            <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px" src="">
                        }
                    </div>
                </div>
                <div class="row gy-2">
                    <div class="col">
                        <div class="form-group">
                            <a class="btn btn-outline-jhprimary" asp-action="AllProjects">Return to All Projects</a>

                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
